*{
    background-color: aliceblue;
    font-family: "Helvetica", "Times New Roman", sans-serif;
}
.header{
    font-size: 50px;
    font-weight: bold;
    background-color: blueviolet;
    text-align: center;
    border: 30px solid blue;
    width: 600px;
    margin: auto;
}
.button{
    background-color: lightcoral;
    font-size: 30px;
}
.link{
    color: black;
    background-color: lightcoral;
}
.heading{
    background-color: lightblue;
}
.photo{
    height: 500px;
    width: auto;
}