*{
    background-color: aliceblue;
    font-family: "Helvetica", "Times New Roman", sans-serif;
}
.header{
    font-size: 50px;
    background-color: blueviolet;
}
.button{
    background-color: lightcoral;
    font-size: 30px;
}
.link{
    color: black;
    background-color: lightcoral;
}
.ingredients{
    background-color: lightblue;
}
.photo{
    height: 500px;
    width: auto;
}